h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}
body {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470);
    background-size: cover;
}
table {
    background-color: brown;
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    width: 700px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px; 
    margin-top: 40px;  
}
#w{
    background-color: white;
}
#b{
    background-color: black;
}
th{
    color: white;
}